In [16]:
employees = { 1: {"Name": "satya","Age": 24,"Department":"Sales","Salary": 25000},
              2: {"Nme": "kiran","Age": 26,"Department":"Sales","Salary": 30000},
              3: {"Name": "prakash","Age": 24,"Department":"HR","Salary": 35000},
              4: {"Name": "aditya","Age": 28,"Department":"Accounts","Salary": 25000},
              5: {"Name": "vikas","Age": 30,"Department":"Accounts","Salary": 35000},
              6: {"Name": "sarvesh","Age": 30,"Department":"Accounts","Salary": 35000},
              7: {"Name": "rohit","Age": 30,"Department":"HR","Salary": 30000},}
  
def add_employee():
    """Adds a new employee to data base."""
    print("---- Add new employee ----")
    emp_id = int(input("Enter Employee ID:" ))

    if emp_id in employees:
       print("Empolyee ID already exist! please input a new ID")
       return

       name = input("Enter employee name: ")
       age = int(input("Enter employee age: "))
       department = input("Enter employee department: ")
       salary = int(input("Enter employee salary: "))
       employees[emp_id] = {"Name": name, "Age": age, "Department": department, "Salary": salary}
       print(f"Employee {Name} with ID {emp_id} successfully added.")

       def view_employee():
              """Displays details of all employees."""
              print("---- Employee details ----")
              if not employees:
                print("No employees found,")
                return

print(f"{"ID":<5} {"Name":<10} {"Age":<2} {"Department":<10} {"Salary":<10}")
print("-" * 50)
for emp_id, details in employees.items():
     print(f"{emp_id:<5} {details["Name"]:<10} {details['Age']:<2} {details['Department']:<10} {details['Salary']:<10} ")
       

def search_employee():
    """search for an employee ID and display details."""
    print("---- Search Employee ----")
    try:
        emp_id = int(input("Enter Employee ID to search: "))
        if emp_id in employees:
             details = employees[emp_id]
             print(f"Employee found: ID: {details['emp_id']}, Name: {details["Name"]}, Age: {details['Age']}, Department: {details['Department']}, Salary: {details['Salary']}")
        else:
             print(f"employee with Id {emp_id} not found.")
    except ValueError:
         print("Invalid input. please enter a valid employee ID.")

ID    Name       Age Department Salary
--------------------------------------------------
1     satya      24 Sales      25000

KeyError: 'Name'